* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}
/* Início do cabeçario */
header {
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo::after {
    content: '|';
    margin-left: 3px;
    animation: pisca .5s linear infinite;
}
.titulo {
    color: white;
    font-size: 60px;
}
@keyframes pisca {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Fim do cabeçario */
/* Inicio do corpo */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: fundo 9s infinite alternate;
    background-image: linear-gradient(black,white,black);
    transition: 9s;
}
main img {
    width: 100%;
    border-radius: 18px;
}

.box_main {
    transition: 1s;
    padding: 20px;
    margin: 10px 0px;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.doaj{
    background-image: linear-gradient(30deg,rgb(228, 131, 131),tomato,red);
}
.qedu {
    background-image: linear-gradient(30deg,rgb(0, 255, 0),green);
}
.ibge {
    background-image: linear-gradient(30deg,rgb(0, 87, 248),white);
}
.pubmed{
    background-image: linear-gradient(30deg,white,blue);
}
.arxiv {
    background-image: linear-gradient(30deg,tomato,gray);
}
.ieee {
    background-image: linear-gradient(30deg,blue,white);
}
.jstor {
    background-image: linear-gradient(30deg,red,white);
}
.bv {
    background-image: linear-gradient(90deg,white,rgb(47, 0, 255));
}
.wws {
    background-image: linear-gradient(30deg,blue,lightblue);
}
.dialnet {
    background-image: linear-gradient(30deg,tomato,white);
}
.base {
    background-image: linear-gradient(30deg,orange,gray);
}
.refseek {
    background-image: linear-gradient(30deg,gray,rgba(0, 89, 255, 0.932));
}
.microsoft {
    background-image: linear-gradient(30deg,lightblue,rgb(84, 202, 241));
}
.ciencia {
    background-image: linear-gradient(40deg,black,tomato,white);
}
.bbc {
    background-image: linear-gradient(30deg,red,white);
}
.bdtd{
    background-image: linear-gradient(40deg,rgb(2, 192, 2),orange);
}
.lume {
    background-image: linear-gradient(30deg,rgb(0, 140, 255),white);
}
.redalyc {
    background-color: tomato;
}
.scopus {
    background-color: rgb(184, 121, 6);
}
.scholarpedia {
    background-image: linear-gradient(white,gray);
}
.bn {
    background-image: linear-gradient(gray,white);
}
.unisagrado {
    background-image: linear-gradient(30deg,darkred,red,tomato);
}
.galileu {
    background-image: linear-gradient(30deg,white,black);
}
.spacetoday {
    background-image: url(https://st4.depositphotos.com/18803028/29828/i/600/depositphotos_298282426-stock-photo-2d-illustration-deep-vast-space.jpg);
    border: 1px solid white;
}
.spacetoday span{
    color: white;
}
.eric {
    background-image: linear-gradient(30deg,green,white);
}
.funiber {
    background-image: linear-gradient(30deg,white,darkblue);
}
.academia {
    background-image: linear-gradient(30deg,white,rgb(117, 191, 216));
}
.science {
    background-image: linear-gradient(30deg,red,blue);
}
.usp {
    background-image: linear-gradient(30deg,rgb(0, 136, 146),rgb(7, 255, 181),yellow);
}
.nature {
    background-color: white;
}
.capes {
    background-image: linear-gradient(40deg,rgb(0, 153, 255),rgb(0, 250, 0));
}
.plos {
    background-image: radial-gradient(white,rgb(56, 56, 56));
}
.google {
    background-image: radial-gradient(rgb(152, 219, 241),rgb(0, 191, 255));
}
.acs {
    background-image: linear-gradient(30deg,rgb(47, 47, 252),yellow);
}
.elsevier {
    background-image: linear-gradient(90deg,white,orange);
}
.springer {
    background-image: radial-gradient(orange,white);
}
.wiley {
    background-color: white;
}
.cell {
    background-color: rgb(96, 162, 238);
}
.pnas {
    background-color: white;
}
.open {
    background-image: radial-gradient(rgb(112, 200, 230),white);
}
.scielo {
    background-image: linear-gradient(90deg,red,rgb(0, 0, 0));
}
.box_main img {
    margin: 10px;
}
.box_main p,span {
    color: black;
    display: none;
    transition: 1s;
    font-size: 15px;
}
.scielo p {
    color: white;
}
.box_main p::after,span::after{
    content: '|';
    animation: pisca .5s linear infinite;
}
.box_main a {
    display: none;
    transition: 1s;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(30deg,white,rgb(135, 135, 250),rgb(240, 143, 143),black,white) ;
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradiente 6s linear alternate infinite;
    font-size: 20px;
}
.links {
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
    padding: 18px;
    opacity: 0;
    transition: .5s;
}
.links:hover {
    background-color: white;
    border: 3px solid black;
}
@keyframes gradiente {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 300%;
    }
}
.box_main:hover {
    transition: 1s;
    width:55%;
    height: 60vh;
}
.box_main:hover p{
    transition: 1s;
    display: block;
}
.box_main:hover a{
    display: block;
}
.box_main:hover span {
    display: block;
}
.box_main:hover .links {
    opacity: 1;
}
@media (max-width: 480px) {
    .box_main{
        width: 200px;
        height: 200px;
    }
    .box_main img {
        width: 89px;
        margin: 10px;
    }
    .box_main:hover{
        height: 100%;
    }
}
@media (min-width: 780px) {
    .box_main img {
        width: 200px;
    }
    .arxiv img,.jstor img,.bv img,.wiley img {
        width: 150px;
    }
}
@keyframes fundo {
    0% {
    background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;
    }
}
/* Fim do main */
/* Começo do footer */
footer {
    display: flex;
    background-color: black;
    padding: 30px;
    color: white;
    flex-direction: column;
    overflow: hidden;
    height: 1000px;
}
footer p {
    margin: 10px 0px;
    font-size: 15px;
}
footer * {
    font-family: monospace;
}
footer p::after {
    content: '|';
    animation: pisca .5s linear infinite;
}
.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(7, 241, 7, 0.45);
    display: block;
    position: relative;
    bottom: 100;
    animation: cima 5s linear infinite;
}

@keyframes cima {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-3000%) rotate(960deg);
    }
}
